{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produitreference</th>
                <th>Produitlibelle</th>
                <th>Produitdescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.produitreference }}</td>
                <td>{{ produit.produitlibelle }}</td>
                <td>{{ produit.produitdescription }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'produitreference': produit.produitreference}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'produitreference': produit.produitreference}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
